body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  color: black;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.trainerCard{
  height: 30%;
  width: 100%;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  border-style: inset;
}

.trainerImage {
  height: 250px; 
  width: 200px;
  display: flex;
  margin:auto;
  justify-content: center;
  text-align: center;
}
.pokemonImage {
  height: 100px;
  width: 100px;
  display: flex;
}
.pokemonDetails {
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.float-child {
  float:left;
  padding: 20px;
  border: 2px solid red;
  
}
.trainerContainer {
  display: flex-col;
  width: 100%;

}