body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
  color: black;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.trainerFormDiv {
  display:block;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 500px;
  margin-top: 200px;
}
.center{
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
}

.trainerCard{
  height: 30%;
  width: 100%;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  border-style: inset;
}

.WATER {
  background-color: blue;
  border: 1px solid black;
  border-radius: 30px;
}
.GRASS {
  background-color: green;
  border: 1px solid black;
  border-radius: 30px;
}
.ICE {
  background-color: aqua;
  border: 1px solid black;
  border-radius: 30px;
}
.FIRE {
  background-color: red;
  border: 1px solid black;
  border-radius: 30px;
}

.POISON {
  background-color: purple;
  border: 1px solid black;
  border-radius: 30px;
}
.DARK {
  background-color: black;
  border: 1px solid black;
  border-radius: 30px;
}
.FLYING {
  background-color: darkgray;
  border: 1px solid black;
  border-radius: 30px;
}
.ROCK {
  background-color: darkslategray;
  border: 1px solid black;
  border-radius: 30px;
}
.GROUND {
  background-color: brown;
  border: 1px solid black;
  border-radius: 30px;
}
.STEEL {
  background-color: grey;
  border: 1px solid black;
  border-radius: 30px;
}
.FIGHTING {
  background-color: darkred;
  border: 1px solid black;
  border-radius: 30px;
}
.ELECTRIC {
  background-color: yellow;
  border: 1px solid black;
  border-radius: 30px;
}
.DRAGON {
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 30px;
}
.BUG {
  background-color: aquamarine;
  border: 1px solid black;
  border-radius: 30px;
}
.NORMAL {
  background-color: white;
  border: 1px solid black;
  border-radius: 30px;
}
.FAIRY {
  background-color: pink;
  border: 1px solid black;
  border-radius: 30px;
}
.GHOST {
  background-color: palevioletred;
  border: 1px solid black;
  border-radius: 30px;
}
.PSYCHIC {
  background-color: palevioletred;
  border: 1px solid black;
  border-radius: 30px;
}
.trainerImage {
  height: 250px; 
  width: 200px;
  display: flex;
  margin:auto;
  justify-content: center;
  text-align: center;
}

.inputField {
  display: flex;
  box-sizing: border-box;
  height: 39px;
  width: 426px;
  border: 1px solid #E6E6E6;
  border-radius: 20px;
  color: #333333;
  font-size: 18px;
}
.pokemonImage {
  height: 100px;
  width: 100px;
  display: flex;
}
.pokemonDetails {
  padding: 20px;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
.float-child {
  float:left;
  padding: 20px;
  border: 2px solid red;
  
}
.trainerContainer {
  display: flex-col;
  width: 100%;

}
.likesButton {
  padding: 0;
border: none;
background: none;
}